@import '../../global.scss';

.items--loading{
    .item--loading{
        border-radius: 5px;
        margin-bottom: 40px;
        box-shadow: 4px 4px 10px 2px rgba(141,151,158,.2);
        background: $grey;
        display: flex;
        flex-wrap: wrap;
        height: 180px;
        padding: 0px;
        animation: opacity 1000ms infinite linear;
    }
}

@keyframes opacity {
    from {
        opacity: 1;
    }
    40% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}