@import '../../../global.scss';

.user {
    border-radius: 5px;
    margin-bottom: 40px;
    transform: translateZ(0) translateZ(0);
    transition: all .2s ease-out;
    box-shadow: 4px 4px 10px 2px rgba(141, 151, 158, 0.2);
    background: #FFF;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    cursor: pointer;

    &-description{
        flex: 1 1;
        padding: 10px 20px;

        .user-identifiant,
        .user-infos{
            display: flex;
            justify-content: space-between;
            padding: 0 0 10px 0;

            .identifiant-number,
            .user-fraudster,
            .user-position,
            .user-birthday{
                flex-direction: row;
                display: flex;
                align-items: center;
                flex: 1 1;
            }
        }
    }

}