.transaction-amount{
    min-width: 80px;
    font-weight: 600;
    flex-direction: row;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
}