$background-grey: #F6F9FC;
$background-dark-grey: #212121;
$background-black: #151515;
$background-blue: #E4F1FF;

$logo-green: #2E935E;

$blue: #1B69A6;
$dark-blue: #0C3654;

$white: #FFF;
$black: #000;
$grey: #808080;

$red: #EB001A;
$orange: #F79E1B;
$green: #8ECD3E;
